@media only screen and (max-width:1440px) {
        main {
                padding: 0 11vw;
                padding-top: 32px;
        }
}

@media only screen and (max-width:800px) {
        body {
                background-color: #fff;
        }
        main {
                border: none;
                max-width: 80vw;
                flex-basis: 80vw;
                padding: 0;
                padding-top: 32px;
        }
        article div,
        article img {
                max-width: 100%;
        }
}

@media screen and (max-width: 782px)
{
        body {font-size: 12pt;}
        main {
                padding-top: 0;
                text-align: left;
                line-height: 1.35;
        }
        #navbar {
                position: initial;
                box-shadow: none;
        }
        #searchform {
                display: none;
        }
}

@media only screen and (max-width: 320px)
{
        main {
                max-width: 90vw;
                flex-basis: 90vw;
        }
}
