@media only print {
        body {
                font-size: 10pt;
                font-family: Georgia, serif;
                margin: 2cm;
                background-color: #fff;
        }

        #page {
                display: block;
        }

        main {
                border: none;
                padding: 0;
        }

        a {text-decoration: underline;}
        h1, h2, h3, header *{
                color: black;
                font-family: sans-serif;
                text-decoration: none;
        }
        h2 a, h3 a {
                color: black;
                text-decoration: none;
        }

        header {
                padding: 0;
        }

        article {
                margin: 1cm 0;
        }

        #navbar {
                display: none;
        }

        footer {
                display: none;
        }
}
